<div class="row">
    <div class="col-center col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <ol class="breadcrumb">
                    <li><a href="/database">Banco de Dados</a></li>
                    <li class="active">Cadastro</li>
                </ol>
            </div>
            <div class="panel-body">
                <%- include '/../../message.ejs %>
                <form action="/database/create" method="post">
                    <div class="row">
                        <dl class="form-group col-xs-4">
                            <dt>
                                <label for="name">Nome</label>
                            </dt>
                            <dd>
                                <input name="name" type="text" class="form-control" id="name" required>
                            </dd>
                        </dl>
                        <dl class="form-group col-xs-4">
                            <dt>
                                <label for="host">Host</label>
                            </dt>
                            <dd>
                                <input name="host" type="text" class="form-control" id="host" required>
                            </dd>
                        </dl>
                        <dl class="form-group col-xs-4">
                            <dt>
                                <label for="port">Porta</label>
                            </dt>
                            <dd>
                                <input name="port" type="text" class="form-control" id="port" required>
                            </dd>
                        </dl>
                        <dl class="form-group col-xs-4">
                            <dt>
                                <label for="user">Usuário</label>
                            </dt>
                            <dd>
                                <input name="user" type="text" class="form-control" id="user" required>
                            </dd>
                        </dl>
                        <dl class="form-group col-xs-4">
                            <dt>
                                <label for="pass">Senha</label>
                            </dt>
                            <dd>
                                <input name="pass" type="text" class="form-control" id="pass" required>
                            </dd>
                        </dl>
                        <dl class="form-group col-xs-4">
                            <dt>
                                <label for="db">Banco</label>
                            </dt>
                            <dd>
                                <input name="db" type="text" class="form-control" id="db" required>
                            </dd>
                        </dl>
                        <dl class="form-group col-xs-4">
                            <dt>
                                <label for="driver">Adapter</label>
                            </dt>
                            <dd>
                                <select name="driver" class="form-control" id="driver" required>
                                    <option value="postgresql">Postgresql</option>
                                    <option value="mysql">Mysql</option>
                                </select>
                            </dd>
                        </dl>
                        <dl class="form-group col-xs-12">
                            <dd class="border-top">
                                <a href="/database" class="pull-left btn btn-primary"><span class="glyphicon glyphicon-backward"></span> Voltar</a>
                                <button type="submit" class="pull-right btn btn-success"> Cadastrar </button>
                            </dd>
                        </dl>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


