<div class="row">
    <div class="col-center col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <ol class="breadcrumb">
                    <li><a href="/user">Usuário</a></li>
                    <li class="active">Cadastro</li>
                </ol>
            </div>
            <div class="panel-body">
                <%- include '/../../message.ejs %>
                <form action="/user/store" method="post">
                    <div class="row">
                        <dl class="form-group col-xs-4">
                            <dt>
                                <label for="username">Usuário</label>
                            </dt>
                            <dd>
                                <input name="username" type="text" class="form-control" id="username" required>
                            </dd>
                        </dl>
                        <dl class="form-group col-xs-4">
                            <dt>
                                <label for="password">Senha</label>
                            </dt>
                            <dd>
                                <input name="password" type="password" class="form-control" id="password" required>
                            </dd>
                        </dl>

                        <dl class="form-group col-xs-4">
                            <dt>
                                <label for="nivel">Nivel de acesso</label>
                            </dt>
                            <dd>
                                <select name="admin" class="form-control" id="username" required>
                                    <option value="0"> Padrão </option>
                                    <option value="1"> Administrador </option>
                                </select>
                            </dd>
                        </dl>
                        <dl class="form-group col-xs-12">
                            <dd class="border-top">
                                <a href="/user" class="pull-left btn btn-primary"><span class="glyphicon glyphicon-backward"></span> Voltar</a>
                                <button type="submit" class="pull-right btn btn-success"> Cadastrar </button>
                            </dd>
                        </dl>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


