<div class="row">
    <div class="col-center col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <ol class="breadcrumb">
                    <li><a href="/access">Lista de acesso</a></li>
                    <li class="active">Cadastro</li>
                </ol>
            </div>
            <div class="panel-body">
                <%- include '/../../message.ejs %>
                <form action="/access/create" method="post">
                    <div class="row">
                        <dl class="form-group col-xs-4">
                            <dt>
                                <label for="username">Usuário</label>
                            </dt>
                            <dd>
                                <input name="username" type="text" class="form-control" id="username" required>
                            </dd>
                        </dl>
                        <dl class="form-group col-xs-12">
                            <dd class="border-top">
                                <a href="/access" class="pull-left btn btn-primary"><span class="glyphicon glyphicon-backward"></span> Voltar</a>
                                <button type="submit" class="pull-right btn btn-success"> Cadastrar </button>
                            </dd>
                        </dl>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


