<div class="row">
    <div class="col-xs-6">
        <div class="panel panel-default">
            <div class="panel-body">
                <%- include '/../includes/01.ejs %>
            </div>
        </div>
    </div>
    <div class="col-xs-6">
        <div class="panel panel-default">
            <div class="panel-body">
                <%- include '/../includes/02.ejs %>
            </div>
        </div>
    </div>

    <div id="load-query" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content modal-lg">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Carregar query</h4>
                </div>
                <div class="modal-body">
                    <form action="/query/search" method="post" class="form-search">
                        <div class="row">
                            <dl class="form-group col-xs-12">
                                <dt>
                                    <label for="busca" class="sr-only">Buscar</label>
                                </dt>
                                <dd>
                                    <input name="busca" type="text" class="form-control" id="busca" placeholder="Digite sua pesquisa" required>
                                </dd>
                            </dl>
                            <dl class="form-group col-xs-12">
                                <dd class="border-top">
                                    <button type="submit" class="pull-right btn btn-success"> Pesquisar </button>
                                </dd>
                            </dl>
                        </div>
                    </form>
                    <table id="output-query-search" class="table-grid table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Categoria</th>
                                <th>Nome</th>
                                <th>Descrição</th>
                                <th>Ação</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

</div>
