<div class="row">
    <div class="col-center col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <ol class="breadcrumb">
                    <li><a href="/category">Categorias</a></li>
                    <li class="active">Cadastro</li>
                </ol>
            </div>
            <div class="panel-body">
                <%- include '/../../message.ejs %>
                <form action="/category/create" method="post">
                    <div class="row">
                        <dl class="form-group col-xs-4">
                            <dt>
                                <label for="name">Nome</label>
                            </dt>
                            <dd>
                                <input name="name" type="text" class="form-control" id="name" required>
                            </dd>
                        </dl>
                        <dl class="form-group col-xs-4">
                            <dt>
                                <label for="description">Descrição</label>
                            </dt>
                            <dd>
                                <input name="description" type="text" class="form-control" id="description">
                            </dd>
                        </dl>
                        <dl class="form-group col-xs-12">
                            <dd class="border-top">
                                <a href="/category" class="pull-left btn btn-primary"><span class="glyphicon glyphicon-backward"></span> Voltar</a>
                                <button type="submit" class="pull-right btn btn-success"> Cadastrar </button>
                            </dd>
                        </dl>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


