body{
    padding-top: 70px;
    padding-bottom: 70px;
}

h1, h2, h3, h4, h5, h6{
    margin: 0px;
}



/* Custom */
.menu-top{
    padding-top: 10px;
}

.CodeMirror {
    height: 400px;
    border: 1px solid #ccc;
    text-transform: uppercase;
}

.output{
    height: 400px;
    border: 1px solid #ccc;
    overflow: auto;
}

#custom-search-input {
    margin:0;
    padding: 0;
}

#custom-search-input .search-query {
    padding-right: 3px;
    padding-right: 4px \9;
    padding-left: 3px;
    padding-left: 4px \9;
    /* IE7-8 doesn't have border-radius, so don't indent the padding */

    margin-bottom: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

#custom-search-input button {
    border: 0;
    background: none;
    /** belows styles are working good */
    padding: 2px 5px;
    margin-top: 2px;
    position: relative;
    left: -28px;
    /* IE7-8 doesn't have border-radius, so don't indent the padding */
    margin-bottom: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color:#D9230F;
}

.search-query:focus + button {
    z-index: 3;
}
