html, body {
    height: 100%;
    text-transform: uppercase;
    font-size: 13px;
}

select, input, textarea{
    text-transform: uppercase;
}

input[type=radio]{
    margin-top: 1px;
}

.border-top{
    border-top: 1px dotted #ccc;
    padding-top: 10px;

}

.container{
    max-width: 850px;
}

.panel-default > .panel-heading{
    text-transform: uppercase;
    font-weight: bold;
    color: #424242;
    font-size: 13px;
}

.breadcrumb {
    padding: 0px 0px;
    margin-bottom: 0px;
}
.table{
    margin-top: 15px;
}

.table > tbody > tr > td{
    vertical-align: middle;
}

.btn-group{
    margin-bottom: 20px;
}

.navbar-form{
    padding: 0px;
}

.glyphicon-backward, .glyphicon-edit{
    margin-right: 5px;
}

.btn-primary{
    background-color: #333;
    border: 0px;
    text-transform: uppercase;
    font-size: 13px;
}

.btn-success{
    background-color: #088A29;
    border: 0px;
    text-transform: uppercase;
    font-size: 13px;
}

.btn-danger{
    border: 0px;
    text-transform: uppercase;
    font-size: 13px;
}

form fieldset legend{
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
    padding-bottom: 2px;
    color: #424242;
}

.form-group label{
    text-transform: uppercase;
    font-size: 12px;
    color: #6E6E6E;
}

.form-group input{
    border-radius: 0px;
}


/* FORM LOGIN */
.form-signin{
    max-width: 350px;
    margin: 20px auto;
}


/* Custom */
.col-center{
    margin: 0px auto;
    float: none;
}


.CodeMirror {
    height: 400px;
    border: 1px solid #ccc;
    text-transform: uppercase;
}

.output{
    height: 400px;
    border: 1px solid #ccc;
    overflow: auto;
}

